*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ffd6e8,#ffc7dd,#ffeef5);

overflow:hidden;

}

.login,
.card{

background:white;

width:90%;
max-width:500px;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:0 15px 35px rgba(255,105,180,.3);

animation:show .8s;

z-index:2;

}

.hidden{

display:none;

}

h1{

color:#ff4f93;

margin-bottom:20px;

}

h2{

margin-top:25px;

color:#ff69b4;

}

p{

font-size:20px;

line-height:2;

color:#555;

}

input{

width:100%;

padding:15px;

border:none;

background:#ffe4ef;

border-radius:12px;

margin:20px 0;

font-size:17px;

outline:none;

}

button{

padding:14px 35px;

border:none;

border-radius:12px;

background:#ff4f93;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#error{

margin-top:15px;

color:red;

}

#hearts{

position:fixed;

width:100%;
height:100%;
overflow:hidden;
pointer-events:none;

}

.heart{

position:absolute;

font-size:24px;

animation:fall linear forwards;

}

@keyframes fall{

0%{

transform:translateY(-100px);

opacity:1;

}

100%{

transform:translateY(110vh);

opacity:0;

}

}

@keyframes show{

from{

opacity:0;

transform:scale(.8);

}

to{

opacity:1;

transform:scale(1);

}

}
